* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/light-veneer/light-veneer.png);
    color: #777777;
    letter-spacing: 1px;
    line-height: 150%;
    font-size: 16px;
    margin: 0;
}

header {
    background: #ffffff;
    border: solid 1px #cccccc;
    height: 75px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

h1,
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    background: #4aaaa5;
    text-align: center;
    width: 225px;
    height: 75px;
    position: absolute;
    left: 16.666666666667%;
    margin: 0;
}

h2 {
    color: #4aaaa5;
}

.h-teal {
    background: #4aaaa5;
    color: #ffffff;
}

nav {
    position: absolute;
    right: 0px;
    width: 735px;
}

.container {
    width: 66.666666666667%;
    margin: 0 auto;
    background: #ffffff;
    border: solid 1px #dddddd;
    padding: 40px;
}

.headshot-img {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 20px;
}

.main-bio {

}

footer {
    background: #666666;
    color: #ffffff;
    font-size: 9px;
    height: 55px;
    text-align: center;
}

.div-foot {
    background: #4aaaa5;
    height: 5px;
}