* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/light-veneer/light-veneer.png);
    color: #777777;
    letter-spacing: 1px;
    line-height: 1.5;
}

header {
    background: #ffffff;
    border: solid 1px #cccccc;
}

h1,
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    background: #4aaaa5;
}
h2 {
    color: #4aaaa5;
}

.h-teal {
    background: #4aaaa5;
    color: #ffffff;
}

.container {
    width: 960px;
    margin: 0 auto;
    background: #ffffff;
    border: solid 1px #dddddd;
}

.headshot-img {
    height: 200px;
    width: 200px;
}

footer {
    background: #666666;
    color: #ffffff;
    font-size: 9px;
    height: 55px;
    text-align: center;
}

.div-foot {
    background: #4aaaa5;
    height: 5px;
}